all_fillers.csv
consent/
recruitment/
irb/
chunk_includes/backup/
joblogs/

analysis/Models/
analysis/Models
analysis/Plots/
analysis/Plots
analysis/Pilot/
analysis/Power analysis/
analysis/Power analysis bayesian/
analysis/analysis.r
analysis/dists.py
analysis/results*

scripts/backup-power-analysis.sh
scripts/backup.sh
